
<div >
    <div class="items">
        <h2 style="border-bottom: 3px solid red;">My Matches</h2>
        <button type="button" class="btn btn-success">New Match</button>
    </div>
    <div class="listOfMatches">
    <div class="card" style="width: 38rem;" *ngFor="let a of matchesList">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
</div>

